.product_detalis{
    justify-content: space-around;
}
#product_imgs {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
}
.left {
    width: 100%;
    display: flex;
    gap: 10px;
}
.left_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
    cursor: pointer;
}
.img_wrap img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.left_2 img {
    width: 100%;
    height: auto;
    min-height: 300px;
}
.Active {
    border: 2px solid #e77600;
}

.addToCart{
    padding: 1rem;
    border:1px solid #ddd;

}

.side_data{
    display: block;
    margin: 10px 0;
}

.reviews{
    justify-content: space-evenly;
}