#imgAccountCard{
    width: 80px;
    height: auto;
}

#AccountCardTitleCard, #AccountCardTitleCardP{
    text-align: left;
}
#cardBody{
    height: 150px;
}

#cardBodyAll{
    margin: 5px;
}

#cardBodyAll:hover{
    cursor: pointer;
    background-color: rgba(205, 200, 200, 0.426);
}