.con{
  width: 30vw;
  border: 1px solid grey ;
  border-radius: 20px;
  padding: 2%;
  margin-top: 20px;
  
  
}
.btnWidth{
  width:25vw;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#input:focus{
  border: solid 1px rgb(255, 128, 0);
  box-shadow:outset 0 0 3px 3px rgb(255, 128, 0);

}
.Ckekbox{
  display: flex;
  font-size: small;
  margin-top: 5vh;
 
}
Navbar{
  text-decoration: none;
}
