#imgCardSellMore {
  width: 70px;
  height: auto;
  margin-left: -1px;
}

#CardSellMoreTitleCard {
  /* text-align: left; */
  margin-top: 30px;
  font-weight: bolder;
  font-size: 37px;
}
#CardSellMoreTitleCardp {
  margin-top: 30px;
}
#cardBody {
  height: 70vh;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  padding: 5vh;
}

#cardBodyAll{
    margin: 10px;
}

/* #cardBodyAll:hover{
    cursor: pointer;
    background-color: rgba(205, 200, 200, 0.426);
} */
